<div class="comments-row">
  <mat-form-field>
    <input matInput type="text" placeholder="Laisser un commentaire" [formControl]="commentControl">
    <button mat-icon-button color="primary" (click)="onLeaveComment()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</div>
  <mat-list *ngIf="comments">
    <h2 matSubheader>Commentaires</h2>
    <mat-list-item *ngFor="let comment of comments">
      <span mat-line>{{ comment.comment }}</span>
      <span mat-line>{{ comment.createdDate | timeAgo }}</span>
    </mat-list-item>
  </mat-list>
